.moleculaRoot {
  &__header {
    padding: 16px 0;
    border-bottom: 1px solid gainsboro;
    &__menuItem {
      &.active {
      }
    }

    .active {
      .moleculaRoot__header__menuItem {
        border-bottom: 1px solid;
        border-radius: 0;
      }
    }
  }

  &__content {
    padding: 16px 0;
  }
}

.ant-table {
  &-row {
    cursor: pointer;

    &.active {
      background-color: #d9e2e8;
    }
  }
}

.ant-table-wrapper .ant-table-tbody > tr > td {
  padding: 8px 4px;
  font-size: 10px;
  line-height: 11px;
}

.ant-table-wrapper .ant-table-thead > tr > th {
  padding: 8px 4px;
  font-size: 10px;
  line-height: 11px;
}

.ant-input-textarea-affix-wrapper {
  &.ant-input-affix-wrapper > textarea.ant-input {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    padding: 12px;
  }
}

span,
p,
div {
  font-family: sans-serif;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 4px 0;
  font-size: 12px;
  align-items: center;
}

pre {
  font-size: 10px;
}
