body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.w-100 {
  width: 100%;
}

.content-wrapper {
  max-width: 1920px;
  min-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}
